
/* ==================< ADAPTIVE-DESKTOP-MIN-WIDTH-1158px >=================== */


@media screen and (min-width: 1158px) {
  .container {
    width: 1158px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
  }

/* ================== <HEADER> =================== */

  .top-header {
    padding: 24px 0px 24px 0px;
  }


  .menu-nav {
    display: flex;
    column-gap: 40px;
  }

  .mobile-menu {
    display: none;
  }

  .title {
  width: 496px;
  font-weight: 700;
  font-size: 56px;
  line-height: 1;
  letter-spacing: 0.02em;
  color: #FFFFFF;
}

/* ================== </HEADER> =================== */

/* ================== <HERO> =================== */

  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url('../images/hero-bg/adaptive-graphics/people-office-desktop.jpg'),
      url('../images/hero-bg/adaptive-graphics/dark-bg-desktop.jpg');
  }

/* ================== </HERO> =================== */

/* ================== <ABOUT> =================== */
.about-main {
  padding-top: 120px;
}

.about-list {
  display: grid;
  column-gap: 0px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.about-item {

}

.about-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2E2F42;
}

.icon-list-wrapper {
  display: flex;
}

/* ================== </ABOUT> =================== */


/* ================== <GALLERY-MAIN> =================== */

.gallery-main {
  display: flex;
}

/* ================== </GALLERY-MAIN> =================== */




/* ================== <GALLERY-PERSON-MAIN> ===================  */
.gallery-person-main {
}

.gallery-person-container {
  /* width: 100%; */
}

.gallery-person-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.gallery-person-item {

}

/* ================== </GALLERY-PERSON-MAIN> ===================  */


/* ===================== <COMPANY-LOGO> ====================== */

.company-logo-list {
  display: flex;
  column-gap: 24px;
}

/* ===================== </COMPANY-LOGO> ====================== */



/* ================== <FOOTER> =================== */

.bottom-footer {
  padding-top: 89px;
  padding-bottom: 38px;
}

.footer-container {
  display: flex;
  justify-content: center;
  padding: 0 15px;
  gap: 0px;
  flex-direction: row;
  align-items: unset;
} 

.form-input-wrapper {
  display: flex;
  gap: 24px
}

.logo-footer {
  text-align: left;
}

.about-footer-content {
  text-align: left;
}

.social-text {
  text-align: left;
}

.social-list-footer {
  margin: 0px 80px 0px 0px;
}

.footer-content {
  display: flex;
  gap: 120px;
  flex-shrink: 0;
}

.form-input-email-footer { 
  width: 264px;
}
/* ================== </FOOTER> =================== */

}



/* ==================< /ADAPTIVE-DESKTOP-MIN-WIDTH-1158px >=================== */



@media screen and (min-device-pixel-ratio: 2) and (min-width: 1158px),
  screen and (min-resolution: 192dpi) and (min-width: 1158px),
  screen and (min-resolution: 2dppx) and (min-width: 1158px) {
  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url('../images/hero-bg/adaptive-graphics/people-office-desktop@2x.jpg'),
      url('../images/hero-bg/adaptive-graphics/dark-bg-desktop@2x.jpg');
  }
}

