
/* ==================< ADAPTIVE-DESKTOP-MIN-WIDTH-1158px >=================== */


@media screen and (min-width: 1158px) {
  .container {
    width: 1158px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
  }

/* ================== <HEADER> =================== */

  .top-header {
    padding: 24px 0px 24px 0px;
  }


  .menu-nav {
    display: flex;
    column-gap: 40px;
  }

  .mobile-menu {
    display: none;
  }

  .title {
  width: 496px;
  font-weight: 700;
  font-size: 56px;
  line-height: 1;
  letter-spacing: 0.02em;
  color: #FFFFFF;
}

/* ================== </HEADER> =================== */
.about-main {
  padding-top: 120px;
}

.about-list {
  display: grid;
  column-gap: 0px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.about-item {

}

.about-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2E2F42;
}

.icon-list-wrapper {
  display: flex;
}




  /* .mobile-menu-open {
    display: none;
  } */

  /* .mobile-menu-close-btn {
    display: none;
  }

  .mobile-menu-list {
    display: none;
  } */

  /* .menu-number-mail-list {
    display: none;
  }
  .menu-mobile-social-list {
    display: none;
  } */

  /* .hero {
    max-width: 100%;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url('../images/hero-bg/adaptive-graphics/people-office-desktop.jpg'),
      url('../images/hero-bg/adaptive-graphics/dark-bg-desktop.jpg');
  } */
}

/* @media screen and (min-device-pixel-ratio: 2) and (min-width: 1158px),
  screen and (min-resolution: 192dpi) and (min-width: 1158px),
  screen and (min-resolution: 2dppx) and (min-width: 1158px) {
  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url('../images/hero-bg/adaptive-graphics/people-office-desktop@2x.jpg'),
      url('../images/hero-bg/adaptive-graphics/dark-bg-desktop@2x.jpg');
  }
} */

/* ==================< /ADAPTIVE-DESKTOP-MIN-WIDTH-1158px >=================== */