.container {
  padding-left: 15px;
  padding-right: 15px;
}

/* ==================< ADAPTIVE-MOBILE-WIDTH >=================== */

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin-left: auto;
    margin-right: auto;
  }
}

/* ==================< /ADAPTIVE-MOBILE-WIDTH >=================== */

/* ==================< ADAPTIVE-TABLET-WIDTH >=================== */

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }

  .mobile-menu-open {
    display: none;
  }

  .mobile-menu-close-btn {
    display: none;
  }

  .mobile-menu-list {
    display: none;
  }

  .menu-number-mail-list {
    display: none;
  }
  .menu-mobile-social-list {
    display: none;
  }
}

/* ==================< /ADAPTIVE-TABLET-WIDTH >=================== */

/* ==================< ADAPTIVE-DESKTOP-WIDTH >=================== */

@media screen and (min-width: 1158px) {
  .container {
    width: 1158px;
  }

  .mobile-menu-open {
    display: none;
  }

  .mobile-menu-close-btn {
    display: none;
  }

  .mobile-menu-list {
    display: none;
  }

  .menu-number-mail-list {
    display: none;
  }
  .menu-mobile-social-list {
    display: none;
  }

  .hero {
    max-width: 100%;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url('../images/hero-bg/adaptive-graphics/people-office-desktop.jpg'),
      url('../images/hero-bg/adaptive-graphics/dark-bg-desktop.jpg');
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1158px),
  screen and (min-resolution: 192dpi) and (min-width: 1158px),
  screen and (min-resolution: 2dppx) and (min-width: 1158px) {
  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url('../images/hero-bg/adaptive-graphics/people-office-desktop@2x.jpg'),
      url('../images/hero-bg/adaptive-graphics/dark-bg-desktop@2x.jpg');
  }
}

/* ==================< /ADAPTIVE-DESKTOP-WIDTH >=================== */

/* ==================< ADAPTIVE-TABLET >=================== */

@media screen and (min-width: 768px) and (max-width: 1157px) {
  .container {
    width: 100%;
  }

  .logo {
    margin: 0;
  }

  .navigation {
    margin: 0;
  }

  .menu-list {
    display: flex;
    justify-content: center;
  }

  .menu-nav {
    display: flex;
    flex-direction: column;
  }

  .menu-link__studio::after {
    content: '';
    top: 56px;
    left: 0;
  }

  .mail-link {
    margin: 0;
  }

  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url('../images/hero-bg/adaptive-graphics/people-office-tablet.jpg'),
      url('../images/hero-bg/adaptive-graphics/dark-bg-tablet.jpg');
  }

  .icon-list-wrapper {
    display: none;
  }

  .about-main {
    padding-top: 96px;
    padding-bottom: 96px;
  }

  .about-list {
    display: flex;
    flex-wrap: wrap;
    margin: -72px 0px 0px -24px;
  }

  .about-item {
    margin: 72px 0px 0px 24px;
    flex-basis: calc(100% / 2 - 24px);
  }

  /* .about-item:not(:last-child) {
    margin: 0px 0px 72px 0px;
  } */

  .gallery-main {
    display: none;
  }

  /* .gallery-person-title {
  margin-bottom: 72px;
} */

  .gallery-person-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    justify-content: center;
    /* margin: -64px 0px 0px -24px; */
    /* justify-content: center;
  margin: -64px 0px 0px -24px; */
  }

  .gallery-person-item {
    margin: 0px 0px 64px 0px;
  }

  .gallery-person-item:nth-child(3),
  .gallery-person-item:nth-child(4) {
    margin: 0;
  }

  .card {
    width: 264px;
  }

  .company-logo-list {
    display: flex;
    justify-content: center;
  }

  .company-logo-item {
    margin-bottom: 50px;
  }


  .footer-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 24px;
  }
  

  .wrapper-logo-text-footer {
    display: grid;
    justify-items: end;
  }

  .logo-footer {
    margin: 0;
  }

  .social-list-footer {

  }

  .form-footer {
    /* padding-left: 27px;
    display: grid;
    grid-column-start: span 2; */
    
  }


  /* .form-footer {
    margin: 0;
  }

  .social-list-footer {
    width: 208px;
    margin: 0;
  }

  .form-input-email-footer {
    width: 264px;
  } */
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px) and (max-width: 1157px),
  screen and (min-resolution: 192dpi) and (min-width: 768px) and (max-width: 1157px),
  screen and (min-resolution: 2dppx) and (min-width: 768px) and (max-width: 1157px) {
  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url('../images/hero-bg/adaptive-graphics/people-office-tablet@2x.jpg'),
      url('../images/hero-bg/adaptive-graphics/dark-bg-tablet@2x.jpg');
  }
}

/* ==================< /ADAPTIVE-TABLET >=================== */

/* ==================< ADAPTIVE-MOBILE >=================== */

@media screen and (max-width: 767px) {
  .container {
    width: 100%;
  }

  .navigation {
    display: none;
  }

  .menu-nav-wrapper {
    display: none;
  }

  .top-header-container {
    padding-top: 24px;
    padding-bottom: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  /* ==================< MOBILE-MENU >=================== */

  .mobile-menu-open {
    background-color: transparent;
    padding: 0;
    line-height: 0;
    border: none;
  }

  .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    overflow: scroll;
    background-color: #fff;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 500ms linear, visibility 500ms linear;
  }

  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  .mobile-menu-container {
    position: relative;
    padding: 40px 51px 40px 40px;
  }

  .mobile-menu-close-btn {
    position: absolute;
    top: 49px;
    right: 15px;
    background-color: transparent;
    padding: 0;
    line-height: 0;
    border: none;
  }

  .mobile-menu-item:not(:last-child) {
    margin-bottom: 40px;
  }

  .mobile-menu-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;

    transition: color var(--transition-time-function);
  }

  .mobile-menu-link:hover,
  .mobile-menu-link:focus {
    color: var(--color-primary-brand);
  }

  /* ==================< /MOBILE-MENU >=================== */

  .menu-number-mail-list {
    margin-top: 284px;
    margin-bottom: 48px;
  }

  .menu-number-mail-item:not(:last-child) {
    margin-bottom: 40px;
  }

  .menu-phone-link {
    font-weight: 600;
    font-size: 36px;
    line-height: 1.1;
    text-transform: capitalize;
    color: #434455;

    transition: color var(--transition-time-function);
  }

  .menu-phone-link:hover,
  .menu-phone-link:focus {
    color: var(--color-primary-brand);
  }

  .menu-mail-link {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: #434455;

    transition: color var(--transition-time-function);
  }

  .menu-mail-link:hover,
  .menu-mail-link:focus {
    color: var(--color-primary-brand);
  }

  .menu-mobile-social-list {
    display: flex;
    flex-wrap: wrap;
  }

  .menu-mobile-social-item:not(:last-child) {
    margin-right: 56px;
  }

  .menu-mobile-social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4d5ae5;

    transition: background-color var(--transition-time-function), box-shadow var(--transition-time-function);
  }

  .menu-mobile-social-link:hover,
  .menu-mobile-social-link:focus {
    background-color: var(--color-pressed-state);
    box-shadow: var(--card-shadow);
  }

  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url('../images/hero-bg/adaptive-graphics/people-office-mobile.jpg'),
      url('../images/hero-bg/adaptive-graphics/dark-bg-mobile.jpg');
  }

  .title {
    width: 100%;
  }

  .icon-list-wrapper {
    display: none;
  }

  .about-main {
    padding-top: 96px;
    padding-bottom: 96px;
  }

  .about-list {
    margin: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  .about-item {
    margin: 0px 0px 72px 0px;
  }

  .about-item:nth-child(4) {
    margin: 0;
  }

  /* .about-item:not(:last-child) {
  margin: 0px 0px 72px 0px;
} */

  .about-title {
    text-align: center;
  }

  .gallery-person-main {
    padding-top: 96px;
  }

  .gallery-main {
    display: none;
  }

  .gallery-person-list {
    margin: 0;
    display: flex;
    justify-content: center;
  }

  .gallery-person-item:not(:last-child) {
    margin: 0px 0px 72px 0px;
  }

  .gallery-person-item-margin {
    margin: 0;
  }

  .card {
    width: 264px;
  }

  .company-logo-list {
    display: flex;
    justify-content: center;
  }

  .company-logo-item {
    margin-bottom: 50px;
  }

  .company-logo-item:nth-child(5),
  .company-logo-item:nth-child(6) {
    margin: 0;
  }

  /* ================== <FOOTER> =================== */

  .footer-container {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  
  
 .wrapper-logo-text-footer {
    text-align: center;
  }

  .logo-footer {
    margin: 0px 0px 16px 0px;
  }

  .about-footer-content {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 72px;
  }

  .social-text {
    text-align: center;
  }

  

  .social-list-footer {
    display: flex;
    justify-content: center;
    margin-bottom: 72px;
  }

  .form-footer {
    text-align: center;
    margin: 0;
  }

  .form-input-email-footer {
    width: 100%;
    margin: 0px 0px 16px 0px;
  }

}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
  screen and (min-resolution: 192dpi) and (max-width: 767px),
  screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url('../images/hero-bg/adaptive-graphics/people-office-mobile@2x.jpg'),
      url('../images/hero-bg/adaptive-graphics/dark-bg-mobile@2x.jpg');
  }
}

/* ==================< /ADAPTIVE-MOBILE >=================== */

@media screen and (min-width: 429px) {
  .form-input-email-footer {
    width: 396px;
  }

  
}

@media screen and (min-width: 595px) {
  .form-input-email-footer {
    width: 264px;
    margin: 0px 24px 0px 0px;
  }

  
}

@media screen and (max-width: 389px) {
  .company-logo-item:nth-child(5) {
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 558px) and (max-width: 767px) {
  .gallery-person-list {
    display: flex;
    gap: 24px;
  }
}
