
.container {
    padding-left: 15px;
    padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin-left: auto;
    margin-right: auto;
    background-color: aquamarine;
  }

}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }

}


@media screen and (min-width: 1158px) {
  .container {
    width: 1158px;
  }
}





@media screen and (min-width: 768px) and (max-width: 1440px) {
  .mobile-menu-open {
    display: none;
  }

  .mobile-menu-close-btn {
    display: none;
  }
}



@media screen and (max-width: 767px) {
  .navigation {
    display: none;
  }

  .menu-nav-wrapper {
    display: none;
  }

  .top-header-container {
    padding-top: 24px;
    padding-bottom: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .mobile-menu-open {
    background-color: transparent;
    padding: 0;
    line-height: 0;
    border: none;
    }

    .mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: #fff;
}

.mobile-menu-container {
  padding-top: 40px;
  padding-bottom: 40px;
}

.mobile-menu-close-btn {
  position: absolute;
  top: 40px;
  right: 40px;
  background-color: transparent;
  padding: 0;
  line-height: 0;
  border: none;
}

}












