/* ==================< ADAPTIVE-MOBILE-MIN-WIDTH-320px >=================== */

@media screen and (min-width: 480px) {
  .container {
    width: 100%;
  }

  /* ================== <HEADER> =================== */

  .mobile-menu-container {
    padding: 40px 51px 40px 40px;
  }

  /* ================== </HEADER> =================== */

  /* ================== <HERO> ===================  */

  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url('../images/hero-bg/adaptive-graphics/people-office-mobile.jpg'),
      url('../images/hero-bg/adaptive-graphics/dark-bg-mobile.jpg');
  }

  .title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--color-write);
  }

  /* ================== </HERO> ===================  */

  /* ================== <ABOUT> ===================  */

  .about-main {
    padding-top: 96px;
    padding-bottom: 96px;
  }

  .about-container {
    width: 100%;
  }

  .icon-list-wrapper {
    display: none;
  }

  .about-list {
    display: grid;
    row-gap: 72px;
  }

  .about-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
  }

  /* ================== </ABOUT> ===================  */

  /* ================== <GALLERY-MAIN> =================== */

  .gallery-main {
    display: none;
  }

  /* ================== </GALLERY-MAIN> =================== */

  /* ================== <GALLERY-PERSON-MAIN> ===================  */

  .gallery-person-container {
    width: 100%;
  }

  .card {
  transition: box-shadow var(--transition-time-function);
}

.card:hover {
  box-shadow: var(--card-shadow);
}

  /* ================== </GALLERY-PERSON-MAIN> ===================  */

  /* ===================== <COMPANY-LOGO> ====================== */

  .company-logo-container {
    width: 100%;
  }

  /* ===================== </COMPANY-LOGO> ====================== */

  /* ================== <FOOTER> =================== */

  .bottom-footer {
    padding-top: 96px;
    padding-bottom: 96px;
  }

  .logo-footer {
    text-align: center;
    margin-bottom: 16px;
  }

  .about-footer-content {
    margin: 0px 0px 72px 0px;
  }

  .social-text {
    text-align: center;
    margin-bottom: 16px;
  }

  .social-list-footer {
    justify-content: center;
    margin-bottom: 72px;
  }

  .form-text-description {
    text-align: center;
  }

  .form-input-wrapper {
    display: flex;
    gap: 24px;
  }

  .form-input-email-footer {
    margin: 0;
  }

  .form-footer {
    display: block;
  }

  .footer-container {
    display: flex;
    flex-direction: column;
    padding: 0 15px;
    align-items: center;
  }
  .footer-content {
    display: block;
  }
  .form-input-wrapper {
    display: flex;
    flex-direction: column;
  }

  /* ================== </FOOTER> =================== */

  /* ================== <BACKDROP-MODAL> =================== */

  /* ================== </BACKDROP-MODAL> =================== */

  /* ------------------- <PORTFOLIO> ------------------- */

  /* ==================<HERO>=================== */

  /* ==================</HERO>=================== */

  .card-portfolio {
  cursor: pointer;
  transition: border var(--transition-time-function), box-shadow var(--transition-time-function);
}

.card-portfolio:focus,
.card-portfolio:hover {
  border: 0.5px solid var(--color-light);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
}
  
  /* ------------------- </PORTFOLIO> ------------------- */
}

/* ==================< /ADAPTIVE-MOBILE-MIN-WIDTH-320px >=================== */

@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
  screen and (min-resolution: 192dpi) and (max-width: 767px),
  screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url('../images/hero-bg/adaptive-graphics/people-office-mobile@2x.jpg'),
      url('../images/hero-bg/adaptive-graphics/dark-bg-mobile@2x.jpg');
  }
}

@media screen and (min-width: 428px) {
  .modal {
    width: 392px;
  }

  .modal-form-check-description {
    font-size: 12px;
  }

  .company-logo-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 16px;
    row-gap: 72px;
  }

  .company-logo-item {
    flex-basis: calc((100% - 30px) / 2);
  }

  .container-button-portfolio {
    max-width: 100%;
  }

  .menu-list-nav {
    display: flex;
    flex-wrap: wrap;
  }

  .portfolio-list {
    /* justify-content: center; */
  }

  .portfolio-item {
    display: flex;
    justify-content: center;
  }
}

@media screen and (min-width: 619px) {
  .menu-list-nav {
    justify-content: center;
  }
}

@media screen and (min-width: 428px) and (max-width: 767px) {
  .form-footer {
    max-width: 396px;
  }

  .top-header-container {
    max-width: 100%;
  }

  .mobile-menu-container {
    max-width: 100%;
  }

  .menu-mobile-social-item:not(:last-child) {
    margin-right: 56px;
  }

  .mobile-menu-link {
    font-size: 36px;
  }

  .menu-phone-link {
    font-size: 35px;
  }
}
