

/* ==================< ADAPTIVE-TABLE-MIN-WIDTH-768px >=================== */

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }

/* ================== <HEADER> =================== */

  .top-header {
    padding: 12px 0px 12px 0px;
  }

  .top-header-container {
    width: 100%;
  }

  .navigation {
    display: flex;
    margin: 0;
  }

  .logo {
    margin: 0;
  }

  .mail-link {
    margin: 0;
  }
  
  .mobile-menu {
    display: none;
  }

  .menu-link__studio::after {
    content: '';
    position: absolute;
    top: 44px;
    left: 0;
  }

  .mobile-menu-open {
    display: none;
  }

  .mobile-menu-close-btn {
    display: none;
  }

  .menu-nav {
    display: block;
  }

  .menu-nav-wrapper {
    display: flex;
    flex-direction: column;
  }

/* ================== </HEADER> =================== */

/* ================== <HERO> ===================  */

  .hero {
    padding-top: 188px;
    padding-bottom: 188px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url('../images/hero-bg/adaptive-graphics/people-office-tablet.jpg'),
      url('../images/hero-bg/adaptive-graphics/dark-bg-tablet.jpg');
  }

.title {
  width: 496px;
  font-weight: 700;
  font-size: 56px;
  line-height: 1;
  letter-spacing: 0.02em;
  color: #FFFFFF;
  margin-bottom: 40px;
}

/* ================== </HERO> ===================  */


/* ================== <ABOUT> ===================  */


.about-container {
  /* width: 100%; */
}

.about-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 24px;
  row-gap: 72px
}

.about-item {

}

.about-title {
  text-align: left;
}

.icon-list-wrapper {
  display: none;
}

/* ================== </ABOUT> ===================  */


/* ================== <GALLERY-MAIN> =================== */

.gallery-main {
  display: none;
}

/* ================== </GALLERY-MAIN> =================== */


/* ================== <GALLERY-PERSON-MAIN> ===================  */

.gallery-person-main {
}

.gallery-person-container {
  /* width: 100%; */
}

.gallery-person-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 45px;
}

/* ================== </GALLERY-PERSON-MAIN> ===================  */


/* ===================== <COMPANY-LOGO> ====================== */


.company-logo-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
}

/* ===================== </COMPANY-LOGO> ====================== */


/* ================== <FOOTER> =================== */




/* .logo-footer {
  text-align: center;
  margin: 0;
  margin-bottom: 16px;
} */

.about-footer-content {
  text-align: center;
  width: 100%;
  margin: 0px 0px 72px 0px;
} 

/* .social-list-footer {
  width: 100%;
}

.social-text {
  text-align: center;
  margin-bottom: 16px;
}

.social-list-footer {
justify-content: center;
margin-bottom: 72px;
}

.social-item-footer {

} */

.form-text-description {
  text-align: left;
}

/* ================== </FOOTER> =================== */
.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-direction: column;
} 
.footer-content {
  display: flex;
  gap: 20px;
  flex-shrink: 0;
}

.logo-footer {
  text-align: left;
}

.about-footer-content {
  text-align: left;
}

.form-input-email-footer {
  width: 264px;
}
.form-input-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.form-footer {
  display: flex;
  width: auto;
}
}

/* ==================< /ADAPTIVE-TABLE-MIN-WIDTH-768px >=================== */


@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px) and (max-width: 1157px),
  screen and (min-resolution: 192dpi) and (min-width: 768px) and (max-width: 1157px),
  screen and (min-resolution: 2dppx) and (min-width: 768px) and (max-width: 1157px) {
  .hero {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url('../images/hero-bg/adaptive-graphics/people-office-tablet@2x.jpg'),
      url('../images/hero-bg/adaptive-graphics/dark-bg-tablet@2x.jpg');
  }
} 


@media screen and (min-width: 768px) and (max-width: 1199px) {
  .top-header-container {
    max-width: 100%;
  }
}






